In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Prestea,5.4327,-2.1428,67.80,86,18,1.48,GH,2022-07-21 02:26:27
1,1,Punta Arenas,-53.1500,-70.9167,32.11,80,20,17.27,CL,2022-07-21 02:26:28
2,2,Ushuaia,-54.8000,-68.3000,29.86,80,75,21.85,AR,2022-07-21 02:21:32
3,3,Lebu,-37.6167,-73.6500,51.26,95,100,7.27,CL,2022-07-21 02:21:38
4,4,Tuktoyaktuk,69.4541,-133.0374,50.00,93,75,9.22,CA,2022-07-21 02:26:29

In [2]:
#Get data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp']# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#Change the zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of Winds speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [ ]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Albany,42.6001,-73.9662,84.85,68,20,4.45,US,2022-07-21 02:24:38
7,7,Hilo,19.7297,-155.0900,82.27,73,40,9.22,US,2022-07-21 02:26:30
17,17,Seriate,45.6834,9.7229,81.70,51,0,6.91,IT,2022-07-21 02:26:33
18,18,Faanui,-16.4833,-151.7500,78.10,71,5,11.36,PF,2022-07-21 02:26:34
19,19,Bethel,41.3712,-73.4140,82.36,76,0,5.03,US,2022-07-21 02:23:03
24,24,Butaritari,3.0707,172.7902,81.18,78,98,9.04,KI,2022-07-21 02:26:36
34,34,Darnah,32.7670,22.6367,76.01,65,0,22.70,LY,2022-07-21 02:26:40
35,35,Padang,-0.9492,100.3543,82.45,70,48,1.10,ID,2022-07-21 02:26:40
47,47,Atuona,-9.8000,-139.0333,77.63,75,48,14.16,PF,2022-07-21 02:27:45
49,49,Mayo,38.8876,-76.5119,85.17,84,0,8.05,US,2022-07-21 02:27:46

In [ ]:
preferred_cities_df.count()

City_ID       185
City          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
Country       185
Date          185
dtype: int64

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5       Albany      US     84.85  42.6001  -73.9662
7         Hilo      US     82.27  19.7297 -155.0900
17     Seriate      IT     81.70  45.6834    9.7229
18      Faanui      PF     78.10 -16.4833 -151.7500
19      Bethel      US     82.36  41.3712  -73.4140
24  Butaritari      KI     81.18   3.0707  172.7902
34      Darnah      LY     76.01  32.7670   22.6367
35      Padang      ID     82.45  -0.9492  100.3543
47      Atuona      PF     77.63  -9.8000 -139.0333
49        Mayo      US     85.17  38.8876  -76.5119

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Albany,42.6001,-73.9662,84.85,68,20,4.45,US,2022-07-21 02:24:38
7,7,Hilo,19.7297,-155.0900,82.27,73,40,9.22,US,2022-07-21 02:26:30
17,17,Seriate,45.6834,9.7229,81.70,51,0,6.91,IT,2022-07-21 02:26:33
18,18,Faanui,-16.4833,-151.7500,78.10,71,5,11.36,PF,2022-07-21 02:26:34
19,19,Bethel,41.3712,-73.4140,82.36,76,0,5.03,US,2022-07-21 02:23:03
...,...,...,...,...,...,...,...,...,...,...
565,565,Hojai,26.0000,92.8667,83.28,80,100,2.15,IN,2022-07-21 02:39:18
567,567,Pekan,3.4836,103.3996,84.31,64,92,4.81,MY,2022-07-21 02:42:15
568,568,Karratha,-20.7377,116.8463,77.16,35,5,2.10,AU,2022-07-21 02:38:10
569,569,Phalodi,27.1333,72.3667,85.66,70,17,20.89,IN,2022-07-21 02:42:16
573,573,Singaraja,-8.1120,115.0882,83.39,62,64,2.08,ID,2022-07-21 02:42:17

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Albany,US,84.85,42.6001,-73.9662,
7,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Seriate,IT,81.70,45.6834,9.7229,Hotel Post
18,Faanui,PF,78.10,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
19,Bethel,US,82.36,41.3712,-73.4140,Courtyard by Marriott Danbury
24,Butaritari,KI,81.18,3.0707,172.7902,Isles Sunset Lodge
34,Darnah,LY,76.01,32.7670,22.6367,فندق الفردوس
35,Padang,ID,82.45,-0.9492,100.3543,Mercure Padang
47,Atuona,PF,77.63,-9.8000,-139.0333,Villa Enata
49,Mayo,US,85.17,38.8876,-76.5119,Resorts Resource Group International

In [1]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row for infor_box (HTML)

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]